<html>
<head>
 <link rel="stylesheet" href="../static/css/about_olimp.css">
</head>

<body>
  <form class="main_text">
    <div class="txt">
    <h2>Что такое олимпиадное программированиe?</h2>
    <p class='tab'>Олимпиадное программирование состоит из двух частей - проектирования алгоритмов и реализации алгоритмов.</p>

    <p  class='tab'><b>Проектирование алгоритмов.</b> По сути своей, олимпиадное программирование - это придумывание эффективных алгоритмов решения корректно поставленных вычислительных задач. Для проектирования алгоритмов необходимы навыки в решении задач и знание математики. Зачастую решение появляется в результате сочетания хорошо известных
    методов и новых идей.</p>

    <p class='tab'>Важную роль в олимпиадном программировании
    играет математика. На самом деле четких границ между проектированием
    алгоритмов и математикой не существует. Этот сборник не требует глубокой
    математической подготовки.</p>
    <p class='tab'><b>Реализация алгоритмов.</b> В олимпиадном программировании решение задачи
    оценивается путем проверки реализованного алгоритма на ряде тестов.
    Поэтому придумать алгоритм недостаточно, его еще нужно корректно
    реализовать, для чего требуется умение программировать. Олимпиадное
    программирование сильно отличается от традиционной программной
    инженерии: программы короткие (несколько сотен строк уже редкость),
    писать их нужно быстро, а сопровождение после соревнования не
    требуется.</p>
    <p class='tab'>В настоящее время на соревнованиях по программированию популярнее всего
    языки C++, Python и Java. Например, среди 3000 лучших участников
    Google Code Jam 2017 79% писали на С++, 16% - на Python и 8% - на Java.
    Многие считают С++ самым подходящим выбором для олимпиадного программиста.
     К его достоинствам можно отнести очень высокую эффективность и тот факт,
     что в стандартной библиотеке много разнообразных структур данных и
    алгоритмов. Все примеры в сборнике написаны на С++, в них часто
    используются структуры данных и алгоритмы из стандартной библиотеки.
    Код отвечает стандарту С++11, который разрешен в большинстве
   современных соревнований. Если вы еще не знаете C++, самое время
    начать его изучение.</p>

    <p class='tab'>Я могу посоветовать для изучения С++ Сириус.Курсы.
    У них есть замечательный курс: <i>"Введение в программирование
    на языке C++."</i> Этот курс дает довольно полную базу знаний, с помощью которой вы уже сможете решать олимпиады.</p>

    </div>
  </form>
</body>
</html>
