<html>
<head>
 <link rel="stylesheet" href="../static/css/about_olimp.css">
</head>

<body>
  <form class="main_text">
    <div class="txt">
      <h1 class="title"><b>STL</b></h1>
      <p class='comments'><b>Standard Template Library (Библиотека стандартных шаблонов)</b> - набор согласованных обобщённых алгоритмов, контейнеров, средств доступа к их содержимому и различных вспомогательных функций в C++.</p>
      <p class='tab'><b>Ускорение ввода и вывода</b></p>
<pre class='code'>
int main() {
    ios_base::sync_with_stdio(false);
    cin.tie(nullptr);
    // или можно cin.tie(NULL);
}
</pre>
<p class='tab'>Работает это с помощью магии, и чтобы мистические силы заставляли программу работать быстрее правильно, не стоит одновременно использовать  для вывода cout и printf.</p>

<p class='tab'>Для  преобразования строки в int и long long есть специальные функции:</p>
<pre class='code'>
#include &ltstring>;

string s1 = "123";
string s2 = "123123123";

int x = stoi(s1);
long long g = stol(s2);
</pre>
<p class='tab'>Естьи обратная функция:</p>
<pre class='code'>
string h = to_string(1);
</pre>

<p class='tab'>Для преобразования символа в число есть более простой способ, основанный на ASCII таблице кодировки:</p>
<pre class='code'>
char g = '8';
int  h = (g - '0');
</pre>

<p class='tab'>Для получения строк через консоль можно использовать  стандарный cin, но он позволяет получить строку до пробельного знака. Полную строку (с пробельными знаками) можно получить спомощью функции getline:</p>
<pre class='code'>
string s;
getline(cin, s);
</pre>

<p class='tab'>Если количество входныхданных заранее неизвестно, можно использовать цикл:</p>
<pre class='code'>
int x;
while (cin >> x) {
    cout &lt&lt x &lt&lt '\n';
}
</pre>
<p class='comments'>Для завершения ввода на windows можно использовать ctrl+d</p>
<h2>Встроенные контейнеры</h2>
<h2 style='text-align: center;'>vector</h2>
<p class='comments'><b>vector</b> — это динамический массив, который может изменять свой размер во время выполнения программы, это дает быстрый доступ к элементам по индексу, благодаря чему является одним из самых часто используемых контейнеров в C++.</p>
<pre class='code'>
#include &ltiostream>
#include &ltvector>

int main() {
    vector&ltint> numbers = {1, 2, 3, 4, 5};
    // добавляем элемент в конец
    numbers.push_back(6);

    // доступ к элементам
    cout &lt&lt "Third element: " &lt&lt numbers[2] &lt&lt endl;

    // итерация по vector
    for (auto num : numbers) {
        cout &lt&lt num &lt&lt " ";
    }
    cout &lt&lt endl;

      return 0;
}
</pre>
<b>Итераторы  и диапазоны</b>
<p class='comments'><i>Итератором</i> называется переменная, которая указывает на элемент
структуры данных. Итератор begin указывает на первый элемент структуры, а итератор end – на позицию за последним элементом. Например,
в случае вектора v, состоящего из восьми элементов, ситуация может выглядеть так: </p>
<p class='aligncenter'>
<a href="https://iimg.su/i/YC1yp" class='aligncenter'>
  <img class='photo' src="https://s.iimg.su/s/21/dbmgjBhsUJBgqJvUVUNmMcpPIHTrYUcQezaxzjVa.png"></a>
</p>
<p class='tab'>Обратите внимание на асимметрию итераторов: begin() указывает
на элемент, принадлежащий структуре данных, а end() ведет за пределы
структуры данных.</p>

<p class='comments'><i>Диапазоном</i> называется последовательность соседних элементов структуры данных. Чаще всего диапазон задается с помощью двух итераторов:
указывающего на первый элемент и на позицию за последним элементом.
В частности, итераторы begin() и end() определяют диапазон, содержащий
все элементы структуры данных.</p>

<p class='tab'>Функции из стандартной библиотеки C++ обычно применяются к диапазонам. Так, в следующем фрагменте сначала вектор сортируется, затем
порядок его элементов меняется на противоположный, и, наконец, элементы перемешиваются в случайном порядке.</p>

<pre class='code'>
sort(v.begin(),v.end());
reverse(v.begin(),v.end());
random_shuffle(v.begin(),v.end());
</pre>
<p class='tab'>Или например, чтобы отсортировать подотрезокс индексами [l, r]:</p>
<pre class='code'>
sort(v.begin() + l, v.begin() + r + 1);
</pre>

<p class='tab'>Сортровака в порядке невозрастания:</p>

<pre class='code'>
sort(v.rbegin(), v.rend());
</pre>

<p class='tab'>К элементу, на который указывает итератор, можно обратиться, воспользовавшись оператором *. В следующем коде печатается первый элемент вектора:
</p>
<pre class='code'>
cout &lt&lt *v.begin() &lt&lt "\n";
</pre>

<p class='tab'>Также к итераторам можно прибавлять и вычитать числа:</p>
<pre class='code'>
auto it = v.begin();
it++; // переход к следующему элементу
it--; // переход к предыдущему элементу
</pre>
<p class='tab'>В стандартной библиотеке C++ много полезных функций, заслуживающих внимания. Например, в следующем фрагменте создается вектор, содержащий уникальные элементы исходного вектора в отсортированном
порядке:</p>

<pre class='code'>
sort(v.begin(),v.end());
v.erase(unique(v.begin(),v.end()),v.end());
</pre>

<p class='comments'>Компоратор - функция для сравнения элементов</p>
<pre class='code'>
bool cmp(int a, int b) {
    return a > b;
}
// так массив будет отсортирован в порядке невозрастания

sort(v.begin(), v.end(), cmp)
</pre>

<p class='tab'>Также можно сделать компоратор с помощью лямбда-функции:</p>
<pre class='code'>
sort(v.begin(), v.end(), [&](int a, int b) {return a > b});
</pre>
<p class='tab'>С помощью компоратора, например, можно отсортировать массив по последней цифре каждого элемента:</p>
<pre class='code'>
sort(v.begin(), v.end(), [&](int a, int b)
 {return a % 10 &lt b % 10});
</pre>

<p class='comments'><i>Множеством</i> (set) называется структура данных, в которой хранится набор элементов. Основные операции над множествами – вставка, поиск и удаление. Множества реализованы так, что все эти операции эффективны, что
часто позволяет улучшить время работы алгоритмов, в которых множества используются.</p>
<h2 style='text-align: center;'>set</h2>
<p class='tab'>set хранит объекты в порядке возрастания, все объекты уникальны.</p>
<pre class='code'>
  set&ltint> s;
  s.insert(3); // добавление элемента, O(log размера)
  s.insert(2);
  s.insert(5);
  s.count(2) // возвращает либо 1, либо 0
  cout &lt&lt s.count(3) // 1
  cout &lt&lt s.count(4) &lt&lt "\n"; // 0
  s.erase(3); // удаление элемента O(log размера)
  s.find(2); // возвращает s.end(),
   если элемент не найден
  s.insert(4);
  cout &lt&lt s.count(3) &lt&lt "\n"; // 0
  cout &lt&lt s.count(4) &lt&lt "\n"; // 1
</pre>

<pre class='code'>
for (auto elem : s) {
    cout &lt&lt elem &lt&lt ' ';
} // вывод элементов сета
</pre>

<p class='tab'>В сете доступ к элементам по s[n]  невозможен.</p>

<pre class='code'>
auto first = s.begin();
auto last = s.end()
last--;
cout &lt&lt first &lt&lt '\n';
cout &lt&lt laasat &lt&lt '\n';
} // вывод минимального
  и максимального элемента
</pre>

<p class='tab'>В сете синтаксис некоторых функций отличается. Например, ловербаунд:</p>
<pre class='code'>
s.lower_bound(x);
</pre>
<h2 style='text-align: center;'>multiset</h2>
<p class='comments'>В отличие от множества, в <i>мультимножество</i> один
и тот же элемент может входить несколько раз.</p>

<pre class='code'>
multiset&ltint> s;
s.insert(5);
s.insert(5);
s.insert(5);
cout &lt&lt s.count(5); // 3
</pre>
<p class='tab'>Функция <b>erase</b> удаляет все копии значения из мультимножества.</p>
<pre class='code'>
s.erase(5);
cout &lt&lt s.count(5); // 0
</pre>
<p class='tab'>Если требуется удалить только одно значение, то можно поступить так:</p>
<pre class='code'>
s.erase(s.find(5));
cout &lt&lt s.count(5); // 2
</pre>

<p class='tab'>Отмечу, что во временной сложностью функций count и erase является O(k + log(n)), где k – количество подсчитываемых
(удаляемых) элементов; n - размер сета. В частности, подсчитывать количество копий значения в мультимножестве с помощью функции count неэффективно.</p>

<h2 style='text-align: center;'>unordered_set</h2>
<p class='comments'>unordered_set — это контейнер, который хранит уникальные элементы в неупорядоченном виде. Он дает весьма быстрые операции вставки, удаления и поиска за счет использования хеш-таблички:</p>
<pre class='code'>
#include &ltiostream>
#include &ltunordered_set>

int main() {
    unordered_set&ltint> numbers = {4, 1, 2, 3, 5};
    numbers.insert(6); // добавляем новый элемент
    numbers.erase(1); // удаляем элемент

    // проверяем наличие элемента
    if (numbers.find(4) != numbers.end()) {
        // something
    }

    // итерация по unordered_set
    for(int num : numbers) {
        cout &lt&lt num &lt&lt " ";
    }
    return 0;
  }
</pre>
<p class='tab'>В среднем операции в unordered_set работают за O(1), но элементы хранятся в случайном порядке.</p>
<h2 style='text-align: center;'>map</h2>
<p class='comments'><i>Отображением</i> называется множество, состоящее из пар ключ-значение. Отображение можно также рассматривать как обобщение массива.
Если в обыкновенном массиве ключами служат последовательные целые
числа 0, 1, …, n − 1, где n – размер массива, то в отображении ключи могут
иметь любой тип и необязательно должны быть последовательными.</p>
<pre class='code'>
#include &ltiostream>
#include &ltmap>

int main() {
    map&ltstring, int> dict;
    // Добавляем новую пару ключ-значение
    dict["orange"] = 4;

    // Также можно добавить так:
    dict.insert({"aboba", 123})

    // доступ к элементам
    cout &lt&lt dict["orange"]; // 4

    // итерация по map
    for(const auto& pair : dict) {
        cout &lt&lt pair.first &lt&lt ": "
         &lt&lt pair.second &lt&lt '\n';
    }

    return 0;
}
</pre>

<p class='comments'>Стоит отметить важные моменты: <br>
- в мапе ключи хранятся в отсортированном порядке (по возрастанию)<br>
- Если в мапе нет запрошенного ключа, то он автоматически добавляется, и ему сопоставляется значение по умолчанию. Например, в следующем коде в отображение добавляется ключ «aboba» со значением 0.</p>

<pre class='code'>
map&ltstring, int> m;
cout &lt&lt m["aboba"]; // 0
</pre>
<p class='tab'>Функция count проверяет, существует ли ключ в отображении:</p>
<pre class='code'>
if (m.count("aboba")) {
    // ключ существует
}
</pre>

<h2 style='text-align: center;'>Очереди с приоритетом</h2>
<p class='comments'><i>Очередь с приоритетом</i> – это мультимножество, которое поддерживает
вставку, а также извлечение и удаление минимального или максимального элемента (в зависимости от типа очереди). Вставка и удаление занимают время O(log n), а извлечение – время O(1).</p>
<p class='tab'>Очередь с приоритетом обычно основана на структуре пирамиды (heap),
представляющей собой двоичное дерево специального вида. Структура
multiset и так предоставляет все операции, которые определены в очереди
с приоритетом, и даже больше, но у очереди с приоритетом есть достоинство – меньшие постоянные множители в оценке временной сложности.
Поэтому если требуется только найти минимальный или максимальный
элемент, то лучше использовать очередь с приоритетом, а не множество
или мультимножество.</p>
<p class='tab'>По умолчанию элементы очереди с приоритетом в C++ отсортированы в
порядке убывания, так что поддерживаются поиск и удаление наибольшего элемента, что и продемонстрировано в следующем коде:</p>
<pre class='code'>
priority_queue&ltint> q;
q.push(3);
q.push(5);
q.push(7);
q.push(2);

cout &lt&lt q.top() &lt&lt "\n"; // 7
q.pop();

cout &lt&lt q.top() &lt&lt "\n"; // 5
q.pop();
q.push(6);

cout &lt&lt q.top() &lt&lt "\n"; // 6
q.pop();
</pre>
<p class='tab'>Для создания очереди с приоритетом, поддерживающей поиск и удаление наименьшего элемента, нужно поступить так:</p>
<pre class='code'>
priority_queue&ltint,vector&ltint>,greater&ltint>> q;
</pre>
<h2 style='text-align: center;'>Как дебагать все из STL?</h2>
<p class='comments'>В самой первой строке, выше всех инклудов, пишем:<br>
#define _GLIBCXX_DEBUG
</p>
<p class='tab'>Благодаря этой строке намного проще понять свои ошибки (например, если мы где то выходим за границы массива)</p>
    </div>
  </form>
</body>
</html>
